<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UNAMProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SinConexion.FormatoparteFinalSinConexion"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparteFinal"
            android:exported="false" />
        <activity
            android:name=".FormatoparteFinal"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte1ActivitySinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte16SinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte15SinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte14SinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte12SinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte13SinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte11SinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte10SinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte9SinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte8SinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte7SinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte6SinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte5SinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte4SinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte3SinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.Formatoparte2SinConexion"
            android:exported="false" />
        <activity
            android:name=".SinConexion.MenuSinConexion"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte16"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte15"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte14"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte13"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte12"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte11"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte10"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte9"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte8"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte7"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte6"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte5"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte4"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte3"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte2"
            android:exported="false" />
        <activity
            android:name=".actualizar.actualizarFormatoparte1"
            android:exported="false" />
        <activity
            android:name=".Formatoparte16Activity"
            android:exported="false" />
        <activity
            android:name=".Formatoparte15Activity"
            android:exported="false" />
        <activity
            android:name=".Formatoparte14Activity"
            android:exported="false" />
        <activity
            android:name=".Formatoparte13Activity"
            android:exported="false" />
        <activity
            android:name=".Formatoparte12Activity"
            android:exported="false" />
        <activity
            android:name=".Formatoparte11Activity"
            android:exported="false" />
        <activity
            android:name=".Formatoparte10Activity"
            android:exported="false" />
        <activity
            android:name=".Formatoparte9Activity"
            android:exported="false" />
        <activity
            android:name=".Formatoparte8Activity"
            android:exported="false" />
        <activity
            android:name=".Formatoparte7Activity"
            android:exported="false" />
        <activity
            android:name=".Formatoparte6Activity"
            android:exported="false" />
        <activity
            android:name=".Formatoparte5Activity"
            android:exported="false" />
        <activity
            android:name=".Formatoparte4Activity"
            android:exported="false" />
        <activity
            android:name=".Formatoparte3Activity"
            android:exported="false" />
        <activity
            android:name=".Formatoparte2Activity"
            android:exported="false" />
        <activity
            android:name=".Formatoparte1Activity"
            android:exported="false" />
        <activity
            android:name=".MenuAdministradorActivity"
            android:exported="false" />
        <activity
            android:name=".MenuTrabajadorActivity"
            android:exported="false" />
        <activity
            android:name=".AdministradorActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>